
# Jars fournis a la main (moteur Typewriter, extensions tierces).
# Le moteur Typewriter NE DOIT PAS etre redistribue : sa licence l'interdit
# explicitement (Typewriter Software License Agreement, 3.1).
libs/
